@import './base.css';
body {
    background-color: blueviolet;
}

#app {
    display: flex;
    justify-content: center; /* Ë®Æ½¾ÓÖÐ */
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    background-color: aqua;
    height: 420px;
    width: 380px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}
